<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productos.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main-content">
            <div class="container-allMain">
                <% productos.forEach(producto=> { %>
                    <li class="titulo">
                        <a href="/productos/listaProductos/<%= producto.id %>"></a>
                    </li>
                    <div class="productos list-group-item p-3">
                        <a href="/productos/<%= producto.id %>">
                            <picture>
                                <img src="../../images/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="img-juego" />
                            </picture>
                        </a>
                        
                        <div class="informacion">

                            <span class="tipo-envio">En stock</span>
                            <div class="container-prices">
                                <span class="precio-ahora">$<%=(producto.precio - (producto.precio * 0.1)) %></span>
                            </div>
                            <span class="tipo-entrega">Entrega inmediata</span>
                            <span class="name-product">
                                <%= producto.nombre %>
                            </span>
                            <input type="text" name="categoriaId" id="categoriaId" hidden
                                value="<%=producto.categoriaId%>">
                        </div>
                    </div>
                    </a>
                    <% }); %>
            </div>
        </main>
</body>
<footer class="main-footer">
    <%- include('./partials/footer.ejs') %>
</footer>
<script src="./js/filtroLupa.js"></script>
</html>