<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productDetail.css">

    </head>

    <body>
        
        <%- include('./partials/header.ejs') %>
        
        <main>

            <div id="main-content">
                <div class="container-image">
                    <img src="../../<%= producto.imagen %>" alt="<%= producto.nombre %> classimg-juego">
                </div>
                
                <div class="main-description">

                    <section class="section-description">

                        <div class="description">
                            <h2 id="title-item">Descripción del producto</h2>
                            <p><%= producto.descripcion %></p>
                        </div>    
                    </section>
                            
                    <section class="list-products">

                        <ul class="lista-description">
                            <li>Paso a paso de como utilizar el producto</li>
                            <li>Instructivo en español</li>
                            <li>Buscar video de como ingerirlo de manera correcta</li>
                            <li style="color: #bbbbbb; font-weight:bolder">Entrega Inmediata</li>
                        </ul>
                    
                        <div class="price-content">

                            <div class="precios">
                                <span class="precio-ahora">$<%= (producto.precio - (producto.precio*0.1)) %></span>
                                <span class="precio-previo">$<%= producto.precio %></span>
                            </div>
                            
                            <form class="cantidadProductos">

                                <select name="quantity-items" id="quantity-items">

                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                                <a href="/carrito" class="crear">Comprar<i class="fa-solid fa-cart-shopping"></i></a>  
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </body>
</html>