<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/header.ejs') %>
        <main>
            <div id="main-content">
                <div %></div>
                
                <% productos.forEach(producto => { %>
                    <li>
                      <strong><%= producto.nombre %></strong> - $<%= producto.precio %>
                    </li>
                    <div class="container-image">
                        <img src="../../images/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="img-juego" />
                    </div>
                  <% }); %>
                </ul>
                <div class="main-description">
                    
                    <section class="section-description">
                    
                        <div class="description">
                        </div>
                    </section>
                    
                    <section class="list-products">

                        <ul class="lista-description">
                            <li>Instrucciones en español</li>
                            <li>Paso a paso facil de interpretar</li>
                            <li>Videos e instrucciones en internet mismo de no interpretarlas</li>
                            <li>Le figura cantidad que trae el balde, junto con su gusto</li>                
                        </ul>
                            
                    </section>
                    
                    
                    
                    
                </div>
            </div>    
        </main>
    </body>
</html>