<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/recetaDetail.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %>
    
        <div class="accordion-container">
            <% recetas.forEach(receta => { %>
                <div class="accordion-card">
                    <button class="accordion-toggle" onclick="this.parentNode.classList.toggle('open')">
                        <h2><%= receta.nombre %></h2>
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="accordion-content">
                        <p style="white-space: pre-line;">
                            <%= receta.descripcion %>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </body>
    <footer class="main-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>