<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/rutinas.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <ul>
            <% recetas.forEach(receta=> { %>
                <li>
                    <h3><%= receta.nombre %></h3>
                </li>
                <p>
                    <%= receta.descripcion %>
                </p>
                   
            <% }); %>
        </ul>



    </body>
    <footer class="main-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>