<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="/css/button-form.css" />
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <main class="mainRegister">
    <h2 id="h2-register">Regístrate</h2>
    <form action="/users/save" method="POST" id="form-register" class="form-container">

      <p class="nota-requerida">Por favor, asegúrese de completar los campos requeridos <span class="asterisco-requerido">(*)</span>.</p>

      <div class="flex-container-row">
        <!-- Nombre -->
        <div class="div-flex-100 input-requerido">
          <input type="text" name="nombre" id="nombre" placeholder="Nombre *" class="inputs-register"
            value="<%= (typeof oldData !== 'undefined' && oldData.nombre) ? oldData.nombre : '' %>" required />
          <% if (locals && locals.errors && errors.nombre) { %>
            <p class="feedback"><%= errors.nombre.msg %></p>
          <% } %>
        </div>

        <!-- Apellido -->
        <div class="div-flex-100">
          <input type="text" name="apellido" id="apellido" class="inputs-register" placeholder="Apellido *"
            value="<%= (typeof oldData !== 'undefined' && oldData.apellido) ? oldData.apellido : '' %>" required />
          <% if (locals && locals.errors && errors.apellido) { %>
            <p class="feedback"><%= errors.apellido.msg %></p>
          <% } %>
        </div>
      </div>

      <!-- Email -->
      <input type="email" name="email" id="email" placeholder="Correo Electrónico *" class="inputs-register"
        value="<%= (typeof oldData !== 'undefined' && oldData.email) ? oldData.email : '' %>" required />
      <% if (locals && locals.errors && errors.email) { %>
        <p class="feedback"><%= errors.email.msg %></p>
      <% } %>

      <!-- Fecha de nacimiento -->
      <div class="flex-container-row">
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="inputs-register"
          value="<%= (typeof oldData !== 'undefined' && oldData.fecha_nacimiento) ? oldData.fecha_nacimiento : '' %>" />
        <% if (locals && locals.errors && errors.fecha_nacimiento) { %>
          <p class="feedback"><%= errors.fecha_nacimiento.msg %></p>
        <% } %>

        <!-- DNI -->
        <div class="div-flex-100">
          <input type="text" id="dni" name="dni" maxlength="8" pattern="\d{7,8}" required placeholder="DNI *"
            class="inputs-register" value="<%= (typeof oldData !== 'undefined' && oldData.dni) ? oldData.dni : '' %>" />
          <% if (locals && locals.errors && errors.dni) { %>
            <p class="feedback"><%= errors.dni.msg %></p>
          <% } %>
        </div>
      </div>

      <!-- Celular -->
      <input type="text" name="celular" id="celular" class="inputs-register"
        placeholder="Ej: 1123456789"
        pattern="[0-9]{2,4}\s?[0-9]{3,4}\s?[0-9]{3,4}"
        maxlength="15" />
      <% if (locals && locals.errors && errors.celular) { %>
        <p class="feedback"><%= errors.celular.msg %></p>
      <% } %>

      <!-- Contraseña -->
      <input type="password" name="contrasenia" placeholder="Contraseña: Mín. 8 caracteres, 1 mayús., 1 número, 1 símbolo" id="contrasenia"
        class="inputs-register" required />
      <% if (locals && locals.errors && errors.contrasenia) { %>
        <p class="feedback"><%= errors.contrasenia.msg %></p>
      <% } %>

      <!-- Confirmar contraseña -->
      <input type="password" name="confirmar_contrasenia" placeholder="Confirmar Contraseña *"
        id="confirmar-contraseña" class="inputs-register" required />
      <% if (locals && locals.errors && errors.confirmar_contrasenia) { %>
        <p class="feedback"><%= errors.confirmar_contrasenia.msg %></p>
      <% } %>

      <div class="inputs-contra">
        <p>La contraseña debe contener:</p>
        <ul>
          <li>Al menos 8 caracteres</li>
          <li>Una letra mayúscula</li>
          <li>Un número</li>
          <li>Un carácter especial (por ejemplo: @, #, $)</li>
        </ul>
      </div>

      <!-- Botón de registro -->
      <button type="submit" class="button-form button-register btn-confirmar">
        <span class="label">Registrarse</span>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" width="30" height="30"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </button>

    </form>
  </main>

  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="../js/register.js"></script>

  <div>
    <%- include('./partials/modalConfirmacion.ejs', {
    modalTitle: '¿Confirmar registro?',
    modalMessage: 'registro ...'
}) %>
  </div>

  <footer id="register-footer">
    <%- include('./partials/footer.ejs') %>
  </footer>
</body>
</html>
