<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
    
        <%- include('./partials/header.ejs') %>

        <main class="mainRegister">

            <h2 id="h2-Register">Registrate</h2>
            
            <form action="/register/save">

                <input type="text" name="usuario" id="usuario" placeholder="Nombre Usuario" itemid="nombreUsuari@" class="inputs-register" value="<%= oldData && oldData.usuario ? oldData.usuario : '' %>"  required>
                <% if(locals && locals.errors && errors.user) { %>
                    <p class="feedback"><%= errors.usuario.msg %></p>
                <% } %>
                
                <input type="text" name="apellido" id="apellido" class="inputs-register" placeholder="Apodo" value="<%= oldData && oldData.apellido ? oldData.apellido : '' %>" required>
                
                <input type="email" name="email" id="email" placeholder="Correo Electronico" class="inputs-register" value="<%= oldData && oldData.email ? oldData.email : '' %>" required>
                <% if(locals && locals.errors && errors.email) { %>
                    <p class="feddback"><%= errors.email.msg %></p>
                <% } %>
                
                <input type="password" name="contrasenia" placeholder="Contraseña" id="contrasenia" class="inputs-register" value="<%= oldData && oldData.contrasenia ? oldData.contrasenia : '' %>" required>
                <% if(locals && locals.errors && errors.contrasenia) { %>
                    <p class="feedback"><%= errors.contrasenia.msg %></p>
                <% } %>

                <input type="file" name="imagen" id="imgen" class="inputs-register">

                <ul class="mensajeError" id="erroresRegister"></ul>
            </form>
        </main>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="../js/register.js"></script>
    </body>
    <footer id="register-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>