<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
    
        <%- include('./partials/header.ejs') %>

        <main class="mainRegister">

            <h2 id="h2-Register">Registrate</h2>
            
            <form action="/users/save" method="POST" enctype="multipart/form-data">
                
                

                <input type="text" name="nombre" id="nombre" placeholder="Nombre" itemid="nombreUsuari@" class="inputs-register" value="<%= (typeof oldData !== 'undefined' && oldData.usuario) ? oldData.usuario : '' %>"  required>
                <% 
                if(locals && locals.errors && errors.user) { 
                    %>
                    <p class="feedback"><%= errors.usuario.msg %></p>
                    <% 
                } %>
                    
                <input type="text" name="apellido" id="apellido" class="inputs-register" placeholder="Apellido" value="<%= (typeof oldData !== 'undefined' && oldData.apellido) ? oldData.apellido : '' %>" required>

                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="inputs-register" placeholder="Fecha de Nacimiento" value="<%= (typeof oldData !== 'undefined' && oldData.fecha_nacimiento) ? oldData.fecha_nacimiento : '' %>" required>

                <input type="email" name="email" id="email" placeholder="Correo Electronico" class="inputs-register" required>
                
                <input type="password" name="contrasenia" placeholder="Contraseña" id="contrasenia" class="inputs-register" required>
                <% if(locals && locals.errors && errors.contrasenia) { %>
                    <p class="feedback"><%= errors.contrasenia.msg %></p>
                <% } %>

                <input type="file" name="imagen" id="imgen" class="inputs-register">

                <ul class="mensajeError" id="erroresRegister"></ul>
                <button type="submit" class="btn-register">Registrar</button>
            </form>
        </main>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    </body>
    <footer id="register-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>