<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/rutinas.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <% if (success) { %>
            <h2>Ejercicios para el grupo muscular </h2>
            <ul>
                <% ejercicios.forEach(ejercicio => { %>
                    <li>
                        <strong>Nombre:</strong> <%= ejercicio.nombre %><br>
                        <strong>Descripción:</strong> <%= ejercicio.descripcion %><br>

                        <% if (ejercicio.video) { %>
                            <a href="<%= ejercicio.video %>" target="_blank" class="boton-video">
                                Ver video
                            </a>
                        <% } else { %>
                            <em>Video no disponible</em>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <div class="error">
                <p><%= errors.msg %></p>
            </div>
        <% } %>
    </main>
    <footer class="main-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>
